AIRFLOW_UID=50000
AIRFLOW_IMAGE_NAME=airflow-superglm:3.2.1-python3.14
FERNET_KEY=airflow_fernet_key_change_me
AIRFLOW__API_AUTH__JWT_SECRET=airflow_jwt_secret_change_me

MSSQL_SERVER=mssql,1433
MSSQL_DATABASE=PricingLab
MLFLOW_DATABASE=MLflowTracking
MSSQL_USER=sa
MSSQL_PASSWORD=YourStrong(!)Password123
MSSQL_DRIVER=ODBC Driver 18 for SQL Server
MSSQL_ENCRYPT=no
MSSQL_TRUST_SERVER_CERT=yes

MLFLOW_TRACKING_URI=http://mlflow:5000
RATING_EXPORT_ROOT=/opt/pricing/state/rating_exports
