azure-identity
joblib
superglm[editor] @ git+https://github.com/StrudelDoodleS/superglm.git@25c06fc84b674bb2ee777ea99567772d8d57a17c
mlflow
numpy
openpyxl
pandas
pydantic>=2.13,<3
pyodbc
python-dotenv
PyYAML
scikit-learn
sqlalchemy
