azure-identity
joblib
superglm[editor] @ git+https://github.com/StrudelDoodleS/superglm.git@b91fbef5f1ef15aadfa0372963fed3864607d816
mlflow
numpy
openpyxl
pandas
pydantic>=2.13,<3
pyodbc
python-dotenv
PyYAML
scikit-learn
sqlalchemy
